fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
python-multipart==0.0.20
httpx==0.28.1
pymongo==4.14.1
minio==7.2.16
neo4j==5.28.2
PyMuPDF==1.26.3
sentence-transformers==5.0.0
openai==1.99.6
